.button {
   outline: none;
   border: none;
   width: 100px;
   background: #fa6342;
   border-radius: 20px;
   font-size: 11px;
   padding: 6px 0;
   cursor: pointer;
   display: flex;
   color: #fff;
   justify-content: center;
   align-items: center;
   text-align: center;
   transition: all 0.2s linear 0s;

   &:hover {
      background: #ef492a;
   }

   &.white {

   }
}