@import "../../assets/mixins/mixins";

.mainBlockWrapper {
   .row {
      display: flex;

      .userProfile {
         display: inline-block;
         width: 100%;
         margin: 100px 0 30px;

         .mainBg {
            @include display(flex, $a-items: flex-end);
            background-image: url("../../assets/images/main/main.jpg");
            background-position: 50%;
            background-size: cover;
            border-radius: 5px 5px 0 0;
            height: 370px;
            padding-bottom: 10px;

            .profileAuthor {
               @include display(flex, $a-items: center, $f-der: column);
               padding: 0 6%;
               margin-left: 10px;
               text-align: center;
               width: 15%;

               .profileImgBlock {
                  position: relative;
                  border-radius: 50%;

                  .mainAuthorImg {
                     border: 3px solid #fff;
                     border-radius: 50%;
                     height: 100%;
                     width: 100%;
                  }

                  .imageUpload {
                     display: flex;
                     height: 30%;
                     width: 30%;
                     background: hsla(0, 0%, 100%, .7) none no-repeat scroll 50%;
                     background-size: 50%;
                     border: 1px solid #b3b3b3;
                     border-radius: 50%;
                     position: absolute;
                     right: 0;
                     bottom: 0;

                     .inputLabel {
                        cursor: pointer;
                        height: 100%;
                        width: 100%;
                        background-image: url("../../assets/images/main/camera-96.png");
                        background-size: inherit;
                        background-position: 50%;
                        background-repeat: no-repeat;

                        .photoLoad {
                           display: none;
                           width: 100%;
                        }
                     }
                  }
               }
            }
         }

         .profileNavSection {
            @include display(flex, $a-items: center);
            letter-spacing: .2px;
            background: #fff;
            height: 65px;
            padding: 0 15px;

            .navTabs {
               @include display(flex, $a-items: center);
               width: 100%;

               .shortAuthorInfo {
                  @include display(flex, center, center, $f-der: column);
                  padding: 0 15px;
                  font-size: 20px;
                  font-weight: 500;
                  width: 25%;

                  .userName {
                     @include display(flex, center);
                     color: #333;
                     margin-bottom: .3rem;
                  }

                  .country {
                     font-size: 12px;
                     font-weight: 400;
                     color: #757a95;
                  }
               }

               .navLinks {
                  display: flex;
                  padding: 0 15px;
                  list-style: none;

                  li {
                     margin-right: 50px;
                     margin-bottom: 0;

                     &:last-child {
                        margin-right: 0;
                     }

                     &.active {
                        color: #fa6342;
                     }

                     a {
                        font-size: 14px;
                        cursor: pointer;
                        font-weight: 500;
                        display: inline-block;

                        &.active {
                           color: #fa6342;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}


