.img{
  width: 100px;
  height: 100px;
  border-radius: 50%;

}
.paginationWrapper{
  display: flex;
  justify-content: space-around;
  //flex-wrap: wrap;
}
.pagination{
  margin-right: 10px;
  width: 2%;
  height: 2%;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.activePagination{
  margin-right: 10px;
  width: 2%;
  height: 2%;
  background-color: #000;
  color: white;
  text-align: center;
  cursor: pointer;
}
