.chat_page {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

.messages_block {
    overflow-y: auto;
    width: 100%;
    max-height: 400px;
}

.message {
    display: flex;
    width: 100%;

    .topic_data {
        display: flex;
        flex-direction: column;
        width: 100px;
        max-width: 150px;
        border-top: 1px dashed #d6dce5;
        vertical-align: top;
        padding-bottom: 30px;
        padding-top: 30px;


        img {
            border-radius: 100%;
            display: block;
            margin: 0 auto;
            height: auto;
            max-width: 100%;
            width: 50px;
        }

        .user_name {
            color: #fa6342;
            float: left;
            text-align: center;
            font-size: 12px;
            padding: 5px 0 2px;
            width: 100%;
        }

        em {
            color: #999;
            float: left;
            text-align: center;
            font-size: 11px;
            width: 100%;
        }
    }

    .topic_detail {
        min-width: 350px;
        width: 100%;
        border-top: 1px dashed #d6dce5;
        padding-bottom: 30px;
        padding-top: 30px;
        font-size: 13px;
        margin: 0;
        letter-spacing: 0.1px;
        line-height: 26px;
        color: #959ab5;
    }
}
