@import "../../../../assets/mixins/mixins";

.sidebar {
   display: flex;
   width: auto;
   position: relative;

   .central {
      @include display(flex, $f-der: column);
      background: #fff none repeat scroll 0 0;
      border: 1px solid #ede9e9;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 20px;
      padding: 20px;
      position: relative;

      .personal {
         border-bottom: 1px solid #e6ecf5;
         font-weight: 500;
         font-size: 15px;
         line-height: 15px;
         margin-bottom: 20px;
         padding-bottom: 12px;
         text-transform: capitalize;
         width: 100%;
         color: #515365;
         position: relative;

         &:before {
            content: "";
            height: 90%;
            left: -21px;
            position: absolute;
            top: -5px;
            width: 3px;
            background: #fa6342;
         }
      }

      .btnWrapper {
         @include display(flex, center);
         width: 100%;
      }

      .mappedInfo {
         background: #fa6342;
      }
   }
}



