.message_block {
    font-size: 13px;
    display: grid;
    width: 100%;
    min-width: 300px;
    height: auto;
    min-height: 50px;
    grid-template-areas: 'user_avatar_name message';
    grid-template-columns: .2fr 1fr;
}

.message_block:hover {
    cursor: pointer;
    background-color: rgba(86, 131, 188, .17);
}

.user_avatar_name {
    display: grid;
    grid-area: user_avatar_name;
    grid-template-rows: 1fr auto;
}

.avatar {
    display: grid;
    align-self: center;
    justify-content: center;
    padding: 2px;
}

.avatar img {
    width: 35px;
}

.user_name {
    display: grid;
    align-self: center;
    justify-content: center;
    max-height: 10px;
    padding: 8px;
}

.message {
    display: grid;
    align-self: center;
    justify-content: start;
    height: auto;
    padding: 5px 20px;
}

