.dialogs_container {
   display: flex;
   flex-direction: column;
   width: 100%;
   background: #fcfcfc;
   box-shadow: 0 0 1px 0;
}

.my_dialogs_headline {
   display: flex;
   align-self: center;
   width: 98%;
   height: auto;
   padding: 5px 5px 5px 10px;
   border-bottom: 1px solid #aeaeae;
}

.message_page {
   display: flex;
   flex-direction: row;
}

.dialogs_wrapper {
   display: flex;
   align-self: start;
   flex-direction: column;
   width: 20%;
   height: auto;
}

.messages_wrapper {
   display: flex;
   flex-direction: column;
   width: 80%;
}

.message_block {
   height: auto;
}

.add_new_message {
   display: flex;
   align-self: center;
   flex-direction: column;
   justify-content: center;
   width: 97%;
   margin-top: 10px;
}

.area {
   display: flex;
   width: 99%;
   height: 80px;
   resize: none;
   outline: none;
}

.button_wrapper {
   display: flex;
   justify-content: flex-end;
   padding: 5px 0 5px 0;
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 30%;
}
