.app-wrapper {
  display: grid;
  grid-template-areas:
'h h'
'n c';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  min-height: 100vh;
}

.header {
  grid-area: h;
  background-color: #8D3333;
  padding: 20px;
}

.nav {
  grid-area: n;
  background-color: #427272;
  padding: 20px;
}

.content {
  grid-area: c;
  background-color: #72425A;
  padding: 20px;
}