@import '../../assets/mixins/mixins';

.usersPageWrapper {
  flex: 0 0 100%;
  max-width: 100%;

  .centralUsersMeta {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 30px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    box-sizing: border-box;

    .row {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(217px, 1fr));
    }
  }
}
